*.iml
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties
.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
render.experimental.xml
*.log
*.hprof
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
